<ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
<a class="pokemon">

    <section class="pokemon__image">
        <img src="../../../assets/image 4.png" alt="pokemonn">
    </section>

    <section class="pokemon__status">

        <h2>
            {{ pokemon.name }}
        </h2>

        <ul>
            <li class="desc"> It is tough enough yo run right through the night, and it is also a hard worker, but it is still just a
                youngster. </li>
            <li><button class="btn btn-primaty" (click)="vermas">See more</button>
            </li>
            </ul>
    </section>
</a>
</ng-template>
