:root {
	--blanco: #fff;
	--ceniza: #efefef;
	--cheader: #262635;
	--fondo: rgba(212, 212, 242, 0.7);
	--botones: #01A1A1;
	--busqueda: #0c4b4b;
	--tarjeta: #EFEFF2;
	--negro:rgb(0, 0, 0);

	--primary-color: #262835;
	--secondary-color: #ff5473;

	--bulbasour:#7ED876;
	--charizard: #F8B756;
	--aggron: #7D817C;
	--tyranitar: B4E0B1;
	--milotic: #76C6D8;
	--mewtwo: #D4B3EE;
}