@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import './config-scss/rem-calc.scss';
// @import './config-scss/btn.scss';
// @import './config-scss/animation.scss';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--fondo);
}

main {
	width: rem-calc(1150);
	box-sizing: border-box;
	padding: 40px 0px 0px 0px;
	margin: 0 auto;
}